@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: 'Outfit', sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 1.95em;
      color: #999;
      overflow-x: hidden !important;
      background: #1b1b1b;
      scrollbar-gutter: stable;
    }
}

.no-scrollbar::-webkit-scrollbar{
  display: none;
}

.no-scrollbar{
  scrollbar-width: none;
}